:root{
    
    --azul: #0071C0;
}

body {
  font-family: 'Roboto', sans-serif!important;

	padding-top: 56px;
 }
 .navbar-form {
	 -webkit-flex-basis: 100%;
	 -moz-flex-basis: 100%;
	 -ms-flex-basis: 100%;
	 -o-flex-basis: 100%;
	 flex-basis: -moz-available;
	 flex-basis: 100%;	
 }
 .input-group-search {
	width: 100% !important;
 }
 @media(min-width:576px) {
	 .navbar-expand-sm .input-group-search {
		width: 100% !important; 
	 }
 }
 @media(min-width:768px) {
	 .navbar-expand-md .input-group-search {
		width: 90% !important; 
	 }
 }
 @media(min-width:992px) {
	 .navbar-expand-lg .input-group-search {
		width: 80% !important; 
	 }
	 /*body {
		padding-top: 110px;
	 }*/
 }
 @media(min-width:1200px) {
	 .navbar-expand-xl .input-group-search {
		width: 70% !important; 
	 }
 }

 nav{
    background: #000!important;
 }







/* BOTON 1*/
.button-5 {
  align-items: center;
  background-color: var(--azul);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  width: 100%;

}

.button-5:hover,
.button-5:focus {
  background-color: var(--azul);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
  color: #fff;
}

.button-5:active {
  background-color: var(--azul);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


/* CSS BOTON 2*/
.button-6 {
    margin: 0px 15px 0px 15px;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  width: 150px;

}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
.btn-search{
    
    color: #fff!important;
}
.btn-search:hover{
    background-color: var(--azul)!important;
    transition: 0.5s ease-in-out!important;
}

.swiper {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper {
    width: 100%;
    height: 100vh;
  }

  .swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide2 img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #nav-categorias{
    background: var(--azul);
    text-align: center;
  }
  
 
  #nav-cat{
    width: 100%;
  }
  #nav-cat .navegar{
    display: flex;
    justify-content: space-between;
    color: #fff;
list-style: none;
  }

  .footer-widgets {
    background-color: #252525;
    color: #7e7e7e;
    padding: 55px 0px 0 0;
    margin-bottom: 0px
}
.col-footer {
    margin-bottom: 55px;
    max-height: 160px;
}
@media (max-width:768px) {
    .col-twitter {
        margin-bottom: 55px;
        max-height: 160px;
    }
}
footer{
    background: #000;
    color: #fff!important;
}
footer h4 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}
footer p {
    font-size: 13px;
    color: #fff;
}
.tweet ul {
    list-style: none;
    padding-left: 0;
}
.tweet ul li {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.tweet ul li .date {
    color: #fff;
 
}
footer .contact-details {
    list-style: none;
    margin: 0;
    padding: 0
}
.contact-details .icon {
    font-size: 1.2em;
    margin-right: 8px;
}
.footer-copyright {
    padding-top: 22px;
    padding-bottom: 20px;
}
.footer-copyright p {
    margin: 0;
    line-height: 22px;
    color: #fff;
    padding-bottom: 10px;
}
footer #social-icons {
    list-style: none;
    text-align: right;
    margin: 0;
}
footer .social-icons {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
footer .social-icons li {
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
footer .social-icons li a {
    color: #fff;
}

@media (max-width:992px) {
    .footer-copyright p {
        text-align: center;
    }
    footer #social-icons {
        float: none!important;
        text-align: center;
        padding-left: 0px;
        padding-top: 10px;
    } 
}
footer #social-icons li {
    font-size: 20px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
footer #social-icons li a {
    color: #46494a;
}
footer a:hover {
    color: #fff;
}

.subheading:after {
    position: relative;
    display: block;
    content: "";
    height: 2px; 
    margin: 20px auto 20px;
    width: 115px;  
    background: #0071C0;
}
.cart,
.favorite{
    font-size: 30px;
    padding: 0px 10px 0 10px;
}
.cart i::before,
.favorite i::before{
    
color: #fff;
}

.titulo-slider{
    color: #fff;
}

.overlay {
    position: absolute;
    color: #fff;

    width: 100%;
    height: 100%;
    
    background: rgba(0, 0, 0, 0.6);
 
    
  }
  
.overlay h1{
    position: relative;
    top: 35%;
    font-weight: 700;
    font-size: 100px;
    
}
.mySwiper2{
height: 100%;
}

.login-box {
  margin-top: 200px;
  height: auto;
  background: #000;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}



.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  color: #fff;
}

.login-form {
  margin-top: 45px;
  text-align: left;
}

input[type=text] {
  background-color: #1A2226;
  border: none;
  border-bottom: 2px solid var(--azul);
  border-top: 0px;
  border-radius: 0px;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ECF0F5;
}

input[type=password] {
  background-color: #1A2226;
  border: none;
  border-bottom: 2px solid var(--azul);
  border-top: 0px;
  border-radius: 0px;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #ECF0F5;
}

.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid var(--azul);
  outline: 0;
  background-color: #1A2226;
  color: #ECF0F5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 10px;
  color: #6C6C6C;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: var(--azul);
  color: var(--azul);
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  background-color: var(--azul);
  right: 0px;
}

.login-btm {
  float: left;
}

.login-button {
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}

.login-text {
  text-align: left;
  padding-left: 0px;
  color: #A2A4A4;
}

.loginbttm {
  padding: 0px;
}

#iniciar-sesion{
  width: 100%;
  height: 100vh;
}
.curso{
  width: 100%;
  height: 40px;
}

.card-curso{
  color: #000;
  text-decoration: none;
}

.slide-product{
  padding: 30px;
}

.slide-product a:hover{
  color: #000;
}
.titulo-curso{
  font-size: 18px;
  font-weight: 700;
}
.img-curso{
  width: 100%!important;
}


.img-curso-extend{
  width: 100%;
  height: 20vh;
}
.background{
  background: #000;
  color: #fff;
}

.fa-arrow-turn-right:before, .fa-mail-forward:before, .fa-share:before{
  font-size: 40px;
}
.titulo{
  padding: 30px;
}

.categorias a{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s;
}
.categorias a:hover{
  color: #000;
}
.cart-heart{
  padding-top: 40px;
}
.cart-heart a i{
  color: #000;
  font-size: 20px;
}
.logo-principal{
  width: 50%;
}
@media(max-width:768px){
  .button-6{
    margin: 0px;
    width: 100%;
  }
  .slide-product{
    padding: 0px;
  }
  .swiper{
    padding: 30px!important;
  }
  .titulo-principal{
    padding-top: 50px;
    font-size: 50px!important;
    }

}
.swiper-principal{
  padding: 0px!important;
}
footer{
  margin-top: 100px;
}
#error{
  font-size: 50px;
  font-weight: 800;
  width: 100%;
  height: 100vh;
}
.padding-error{
  padding-top: 150px;
}
.border{
  border-left: 1px solid #000;
}
.center-div{
  display: grid;
  place-items: center;
}
.banner-categoria{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/categoria.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 50vh;
}
.content{
padding-top: 100px;
}
.titulo-categorias{
  color: #fff;
  font-weight: 800;
  font-size: 50px;
}
.padding-inicio-sesion{
  padding-top:100px;
}
.padding-registrar{
  padding-top: 60px;
}

.img-circle{
  width: 45px;
}

.g-recaptcha{
  padding: 15px 15px 15px 150px!important;
}
.banner-perfil{
  
}